.content {
    justify-content: start;
}

.post-content table { margin: 0px; width: 100%; }

.post li a { text-decoration: none; }
.post li a:visited { text-decoration: none; }
.post li a:active { text-decoration: none; }
.post li a:hover { text-decoration: underline; }

.post { max-width: 1200px; }
.header__inner { width: 1125px; }