<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main.ByWeight -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}
        <li>
            <a href="https://twitter.com/WinAdmins">
                <i class="fab fa-twitter fa-sm"></i>
            </a>
            <a href="https://github.com/windows-admins">
                <i class="fab fa-github fa-sm"></i>    
            </a>
            <a href="https://www.youtube.com/WinAdmins">
                <i class="fab fa-youtube fa-sm"></i>
            </a>
            <a href="https://www.reddit.com/r/WindowsAdmins/">
                <i class="fab fa-reddit fa-sm"></i>
            </a>
            <a href="https://www.linkedin.com/groups/14050649/">
                <i class="fab fa-linkedin fa-sm"></i>
            </a>
        </li>
    </ul>
</nav>
