<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main.ByWeight -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}
        <li>
            <a href="https://twitter.com/WinAdmins">
                <i class="fab fa-twitter-square fa-lg"></i>
            </a>
            <a href="https://github.com/windows-admins">
                <i class="fab fa-github-square fa-lg"></i>    
            </a>
            <a href="https://www.youtube.com/channel/UCWZnxyqbwHbTu451glcUPhg">
                <i class="fab fa-youtube fa-lg"></i>
            </a>
        </li>
    </ul>
</nav>
