{{ define "main" }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

		<div class="posts-group">
			<ul class="posts-list">
				{{ range sort .Pages "Params.EventDate" "desc" }}
					<li class="post-item">
						<a href="{{.Permalink}}">
							{{ $evtDate := (time .Params.EventDate) }}
							{{ if $evtDate.After now }}
								<span class="post-title">
							{{ else }}
								<span class="post-title" style="color: #D5D5D5;">
							{{ end }}
								{{ .Params.EventDate }} ~ {{.Title}}
							</span>
						</a>
					</li>
				{{ end }}
			</ul>
		</div>
    </main>
{{ end }}
